
/* -------------------------------------
              color variables
--------------------------------------- */

  $BG:#00a59b;
  $Maincolor: #5dc3b5;
  $lightGrey: #f1f1f2;
  $darkgrey: #e6e7e8;
  $grey: #92959E;
  $text: #525659;
  $offline: #f0564a;
  $online:#32b34b;
  